.manga {
  padding: 50px 0;
  width: 80%;
  margin: 0 auto;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_user-info {
      display: flex;
      align-items: center;
      gap: 15px;
      p {
        font-size: 18px;
      }
    }
  }
  &__filter {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-input {
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 5px;
      svg {
        margin-left: 10px;
      }
    }
  }
  &__all-manga {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    img {
      border-radius: 20px;
    }
  }
  &__all-loader {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__all-err {
    height: 26.5vh;
    color: red;
  }
  &__footer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22.5vh;
    div {
      display: flex;
      gap: 20px;
    }
  }
}
